$width: 400px;

.AddStudent {
  display: flex;
  margin-bottom: 80px;
  width: calc($width + 200px);
  input {
    width: calc($width - 48px);
  }

  input[type=submit] {
    width: $width;
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

}

